.pageContainer {
  margin: 0 15px;
  @include tablet {
    margin: 0px 46px;
  }
  @include desktop {
    margin: 0px 138px;
  }
  // check with large screen
  @media all and (min-width: 1476px) {
    margin: 0px auto;
    max-width: 1200px;
  }
}
