* {
  font-family: "Open Sans", sans-serif;
}
.header {
  font-family: rubik;
}
.headingtop {
  background-color: #099d8d;
  color: white;
  text-align: center;
}
.namegroup {
  font: rubik;
}
.menu {
  background-color: #14d9c4;
}
.menuoptions {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  font-size: 15px;
}
.link1 {
  color: white;
}
.link2 {
  color: white;
}
.link3 {
  color: white;
}
