<article class="quienesSomos__adalaber @@leftorright">
  <figure class="picWrapper">
    <img src="@@srcSmall" alt="@@name" class="picWrapper__pic" />
    <img src="@@srcBig" alt="@@name" class="picWrapper__bigPic" />
  </figure>
  <div class="adalaberData">
    <h3 class="adalaberData__name">@@name</h3>
    <p>@@aboutme</p>
    <ul>
      <li class="adalaberData__rrssAdalaber">
        <a href="@@twitterLink" target="_blank"
          ><i class="fab fa-twitter adalaberData__rrssAdalaber--rrss"></i
        ></a>
      </li>
      <li class="adalaberData__rrssAdalaber">
        <a href="@@linkedLink" target="_blank"
          ><i class="fab fa-linkedin-in adalaberData__rrssAdalaber--rrss"></i
        ></a>
      </li>
      <li class="adalaberData__rrssAdalaber">
        <a href="@@gitLink" target="_blank"
          ><i class="fab fa-github-alt adalaberData__rrssAdalaber--rrss"></i
        ></a>
      </li>
      <li class="adalaberData__rrssAdalaber">
        <a href="@@mailTo" target="_blank"
          ><i class="fas fa-envelope adalaberData__rrssAdalaber--rrss"></i
        ></a>
      </li>
    </ul>
  </div>
</article>