<footer class="footer">
  <div class="pageContainer footer__wrap">
    <p class="footer__copyright">devRockets © 2021</p>
    <nav class="menu">
      <ul>
        <li>
          <a class="menu__link" href="index.html#teamTitle">Equipo</a>
        </li>
        <li>
          <a class="menu__link" href="index.html#quienesSomos">Quiénes somos</a>
        </li>
        <li><a class="menu__link" href="contact.html">Contacto</a></li>
      </ul>
    </nav>
    <figure class="footer__logo">
      <a href="https://adalab.es/" target="_blank">
        <img
      class="footer__logo--img"
      src="./assets/images/adalab-logo.png"
      alt="logo Adalab"
      />
    </a>
    </figure>
  </div>
</footer>
