<footer class="footer">
  <div class="pageContainer footerWrap">
    <p class="copyright footerFont">devRockets © 2021</p>
    <nav class="footerMenu footerFont">
      <ul>
        <li><a class="navLink" href="#equipoTitle">Equipo</a></li>
        <li><a class="navLink" href="#quienesSomos">Quiénes somos</a></li>
        <li><a class="navLink" href="../contact.html">Contacto</a></li>
      </ul>
    </nav>
    <figure class="containerLogo">
      <img
        class="logoFooter"
        src="./assets/images/adalab-logo.png"
        alt="logo Adalab"
      />
    </figure>
  </div>
</footer>
