<footer class="footer">
  <div class="pageContainer footerWrap">
    <p class="copyright">devRockets © 2021</p>
    <nav>
      <ul class="footerMenu">
        <li><a class="navLink" href="index.html#teamTitle">Equipo</a></li>
        <li><a class="navLink" href="index.html#quienesSomos">Quiénes somos</a></li>
        <li><a class="navLink" href="contact.html">Contacto</a></li>
      </ul>
    </nav>
    <figure class="containerLogo">
      <img
        class="logoFooter"
        src="./assets/images/adalab-logo.png"
        alt="logo Adalab"
      />
    </figure>
  </div>
</footer>
