<div class="teamContainer pageContainer">
  <article>
    <h2 id="teamTitle" class="teamContainer__team">Contacto</h2>
    <p class="teamContainer__text">
      Sería estupendo saber de tí. Si quieres contactar con nosotras estaremos encantadas de escuchar tus sugerencias,
      resolver tus dudas o comenzar a trabajar en tu proyecto. Escríbenos y te responderemos lo antes posible.
      <span class="welcome">¡Bienvenido a devRocket <span class="world">world!</span></span>
    </p>
    <small class="contact__small">Todos los cambios marcados con <span class="asterisk">*</span> son
      obligatorios</small>
  </article>
  <include src="./form.html"></include>
</div>