<header class="header">
  <div class="header__tablet pageContainer">
    <div class="header__logo">
      <h1 class="header__logo--text">
        <a class="menu__link" href="index.html">Devrockets</h1> </a>
    </div>
    <nav >
      <ul class="menu">
        <li>
          <a class="menu__link" href="index.html#teamTitle">Equipo</a>
        </li>
        <li>
          <a class="menu__link" href="index.html#weAre">Quiénes somos</a>
        </li>
        <li>
          <a class="menu__link" href="contact.html">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
