<header class="header">
  <div class="headerTablet pageContainer">
    <div class="headingTop">
      <h1 class="nameTeam">Devrockets</h1>
    </div>
    <nav class="menu">
      <ul class="menuOptions">
        <li>
          <a class="linkMenu" href="@@linkEquipo">Equipo</a>
        </li>
        <li>
          <a class="linkMenu" href="#quienesSomos">Quiénes somos</a>
        </li>
        <li>
          <a class="linkMenu" href="../contact.html">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
