<header class="header">
  <div class="headerTablet pageContainer">
    <div class="headingTop">
      <h1 class="nameTeam">
        <a class="linkMenu" href="index.html"> Devrockets</h1> </a>
    </div>
    <nav class="menu">
      <ul class="menuOptions">
        <li>
          <a class="linkMenu" href="index.html#teamTitle">Equipo</a>
        </li>
        <li>
          <a class="linkMenu" href="index.html#quienesSomos">Quiénes somos</a>
        </li>
        <li>
          <a class="linkMenu" href="contact.html">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
