<main>
  <!-- hero -->

  <include src="./hero.html" heroImage="heroIndex"></include>

  <!--  TEAM and description-->
  <section class="mainContainer">
    <include src="./team.html"></include>
    <include src="./strengths.html"></include>
  </section>
  <!-- adalabers / quienes somos -->
  <section class="quienesSomos">
    <h2 id="quienesSomos" class="quienesSomos__title">Quiénes somos</h2>
    <div class="pageContainer">
      <include
        src="./adalabers.html"
        leftorright="quienesSomos__adalaber--alignLeft"
        name="Marcjanna Stopińska"
        srcSmall="./assets/images/marcjanna180x180.jpg"
        srcBig="./assets/images/marcjanna300x300ok.jpg"
        aboutme="Desarrolladora fullstack, especializada en frontend (VueJS y
  React), orientada a la entrega con éxito de proyectos. Aplico
  buenas prácticas, intentando mantener el código entendible y
  sencillo. Asumo el liderazgo de forma natural, fomentando el
  trabajo en equipo y el intercambio de conocimientos, con gran
  capacidad para gestionar tiempo y recursos. Sigo en continuo
  aprendizaje aplicando los conceptos a un proyecto propio: una
  webapp (VueJS) para que los profesores de primaria generen
  ejercicios personalizados. Hablo Inglés, Español y Polaco."
        twitterLink="https://twitter.com/marcjanna_s"
        linkedLink="http://www.linkedin.com/in/marcjanna-stopinska"
        gitLink="https://github.com/marcjnn"
        mailTo="mailto:marcjanna.stopinska@gmail.com"
      ></include>
      <include
        src="./adalabers.html"
        leftorright="quienesSomos__adalaber--alignRight"
        name="Ana Bescós"
        srcSmall="./assets/images/ana_bescos180x180.jpg"
        srcBig="./assets/images/ana_bescos300x300.jpg"
        aboutme="Gracias a mi experiencia laboral como docente internacional, he
        desarrollado un amplio rango de habilidades transferibles a mi nueva
        profesión como Web developer. Mi interés por la lingüística y la
        terapia en el ámbito educativo me llevaron a estudiar Audición y
        Lenguaje, para más tarde profundizar en la enseñanza de las lenguas
        inglesa y española. Ésto me permitió ejercer la docencia en Londres
        durante 7 años, adoptando diversos roles en diferentes
        departamentos, incluyendo el de coordinadora. En ese ambiente
        profesional internacional pude desarrollar múltiples habilidades
        como la comunicación, la adaptabilidad, el manejo del estrés, el
        trabajo en equipo, la inteligencia emocional y el dominio de la
        lengua inglesa a nivel profesional. Durante este último año he
        estado inmersa en la creación de un proyecto educativo dirigido al
        aprendizaje de idiomas online. Fue entonces cuando descubrí el mundo
        de la programación y sus conexiones con la lingüística. Todas esas
        inquietudes y mis ganas de afrontar nuevos retos me hicieron empezar
        a indagar en este sector y encontrar así mi nueva profesión."
        twitterLink="https://twitter.com/Ana_Bescos_"
        linkedLink="http://www.linkedin.com/in/ana-besc%C3%B3s-19483b201/"
        gitLink="https://github.com/anabescos"
        mailTo="mailto:anabes88@gmail.com"
      ></include>
      <include
        src="./adalabers.html"
        leftorright="quienesSomos__adalaber--alignLeft"
        name="Sagra Mielgo"
        srcSmall="./assets/images/sagra_mielgo180x180.jpg"
        srcBig="./assets/images/sagra_mielgo300x300.jpg"
        aboutme="De pequeña quería ser cantante y astronauta. Con esfuerzo y
        dedicación me formé en Filología, canto, música y teatro; mi
        trayectoria profesional ha estado ligada a la comunicación, tv y
        radio. He viajado por todo el mundo, y trabajado en Japón,
        Argentina, Inglaterra y múltiples ciudades españolas. Curiosa y
        amante de la diversidad cultural y la lingüística comparada. De
        forma autodidacta comencé a editar mi propio material audiovisual,
        mi ordenador se convirtió en mi compañero de viaje. Soy tenaz y
        comprometida. ¡Conseguí correr la Maratón de Madrid! Todas estas
        experiencias me han ayudado a desarrollar habilidades técnicas y de
        gestión, así como adaptabilidad y empatía para entender las
        necesidades de cada proyecto. He superado adversidades con ayuda de
        los demás, por eso, en el trabajo y en la vida, creo en el equipo.
        Adalab me brindó la oportunidad de crecer y evolucionar. Despego
        como front-ender con todo el entusiasmo del mundo. Houston, comienza
        la cuenta atrás."
        twitterLink="https://twitter.com/sagramielgo"
        linkedLink="http://www.linkedin.com/in/sagramielgo"
        gitLink="https://github.com/Sagramielgo"
        mailTo="mailto:sagramielgo@gmail.com"
      ></include>
      <include
        src="./adalabers.html"
        leftorright="quienesSomos__adalaber--alignRight"
        name="Ana Apezteguía"
        srcSmall="./assets/images/ana_apezteguia180x180.jpg"
        srcBig="./assets/images/ana_apezteguia300x300.jpg"
        aboutme="Apasionada, meticulosa, temperamental, determinada… Me enseñaron a
        tener inquietud, buscar soluciones y poner pasión en todo lo que
        emprendo - sea a nivel personal o profesional-, actitudes que me
        completan y definen. Soy diseñadora gráfica desde 1999,
        especializada en imagen corporativa y diseño editorial. Me apasiona
        el branding bien hecho y por eso en 2019 cursé el máster en
        Challenging Branding de LaBasad, donde conocí a profesionales
        maravillosos y aprendí muchísimo, tanto de branding como de mi
        misma. He trabajado para empresas fuera del sector de la
        comunicación, para agencias de publicidad medianas y pequeñas en
        Pamplona, hice una pequeña incursión en el mundo freelance… en
        definitiva, soy una todoterreno dentro del diseño gráfico offline.
        En constante evolución, he decidido redirigir mi vida y complementar
        mi carrera profesional como #adalaber."
        twitterLink="https://twitter.com/anadisena"
        linkedLink="http://www.linkedin.com/in/anaapezteguiamartinez"
        gitLink="https://github.com/anaapezteguia"
        mailTo="mailto:ana.apezteguia@gmail.com"
      ></include>
    </div>
  </section>
</main>
