<div class="sContainer">
  <div class="strengthsWeak pageContainer">
    <div class="strengthsWeak__square"></div>
    <article class="strengthsWeak__strengths strengthsWeak__strengths--one">
      <h2 class="strengthsWeak__strengths--title">Fortalezas</h2>
      <p class="strengthsWeak__strengths--text">
        Formación técnica en maquetación HTML5, CSS3, Flexbox y control de
        versiones con Git. Manejo de Slack, GitHub, VSCode, Terminal y Zeplin.
        Trabajamos en equipo con comunicación efectiva, mediante el trabajo en
        remoto, filosofía Agile y Scrum framework. Gran capacidad de trabajo,
        perseverancia, ilusión y en constante aprendizaje. Dispuestas a asumir
        riesgos, creativas y expertas en multitareas.
      </p>
    </article>
    <article class="strengthsWeak__strengths strengthsWeak__strengths--two">
      <h2 class="strengthsWeak__strengths--title">Áreas en desarrollo</h2>
      <p class="strengthsWeak__strengths--text">
        Actualmente en formación técnica de SASS, Bootstrap, JavaScript (ES6) y
        servicios web a terceros (APIs). También en desarrollo de creación de
        SPAs sencillas con REACT y manejo de herramientas como Linter y Gulp. En
        proceso de integración en la comunidad tecnológica. Próxima
        incorporación laboral como desarrolladoras web.
      </p>
    </article>
  </div>
</div>
