<section class="mainContainer">
  <div class="teamContainer pageContainer">
    <article>
      <h2 id="teamTitle" class="teamContainer__team">Equipo</h2>
      <p class="teamContainer__text">
        Somos un equipo de mujeres que pensamos de forma coordinada y cooperativa,
        unidas con el objetivo común de que compartas tu sueño con el mundo. Para
        ello creamos, diseñamos y optimizamos las herramientas tecnológicas que tu
        proyecto necesita. Desarrollamos webs de alta funcionalidad que resulten
        una experiencia agradable y eficaz para el usuario. Con formación técnica
        actualizada y experiencia vital de diferentes procedencias conseguimos
        entender tus necesidades y proporcionarte soluciones de forma rápida y
        eficiente.
      </p>
      <p class="teamContainer__text">
        Somos valientes y luchadoras, sabemos lo que significa comenzar y superar
        adversidades. Por eso queremos acompañarte en ese maravilloso viaje.
        Cuéntanos tu idea y construiremos el camino tecnológico a seguir para que
        alcances con éxito la meta. Tú imagina, nosotras te escuchamos, creemos y
        creamos. El límite son las estrellas, porque somos naves de conocimiento y
        desarrollo tecnológico en constante evolución. Vuela con nosotras. Somos
        futuro.
        <span class="teamContainer__text--dev">We are devRockets.</span>
      </p>
    </article>
  </div>
  <div class="sContainer">
    <div class="strengthsWeak pageContainer">
      <div class="strengthsWeak__square"></div>
      <include src="./strengths.html" title="Fortalezas" text="Formación técnica en maquetación HTML5, CSS3, Flexbox, SASS y control de
      versiones con Git. Manejo de Slack, GitHub, VSCode, Terminal y Zeplin.
      Comunicación efectiva de equipo, trabajo en
      remoto, filosofía Agile y Scrum framework. Gran capacidad de trabajo,
      perseverancia, ilusión y en constante aprendizaje. Dispuestas a asumir
      riesgos, creativas y expertas en multitareas." number="--one">
      </include>
      <include src="./strengths.html" title="Áreas en desarrollo" text="Actualmente en formación técnica de Bootstrap, JavaScript (ES6) y
      servicios web a terceros (APIs). También en desarrollo de creación de
      SPAs sencillas con REACT y manejo de herramientas como Linter y Gulp. En
      proceso de integración en la comunidad tecnológica. Próxima
      incorporación laboral como desarrolladoras web." number="--two">
      </include>
    </div>
  </div>
</section>