<div class="teamContainer pageContainer">
  <article>
    <h2 class="teamContainer__team">Equipo</h2>
    <p class="teamContainer__text">
      Somos un equipo de mujeres que pensamos de forma coordinada y cooperativa,
      unidas con el objetivo común de que compartas tu sueño con el mundo. Para
      ello creamos, diseñamos y optimizamos las herramientas tecnológicas que tu
      proyecto necesita. Desarrollamos webs de alta funcionalidad que resulten
      una experiencia agradable y eficaz para el usuario. Con formación técnica
      actualizada y experiencia vital de diferentes procedencias conseguimos
      entender tus necesidades y proporcionarte soluciones de forma rápida y
      eficiente.
    </p>
    <p class="teamContainer__text">
      Somos valientes y luchadoras, sabemos lo que significa comenzar y superar
      adversidades. Por eso queremos acompañarte en ese maravilloso viaje.
      Cuéntanos tu idea y construiremos el camino tecnológico a seguir para que
      alcances con éxito la meta. Tú imagina, nosotras te escuchamos, creemos y
      creamos. El límite son las estrellas, porque somos naves de conocimiento y
      desarrollo tecnológico en constante evolución. Vuela con nosotras. Somos
      futuro.
      <span class="teamContainer__text--dev"> We are devRockets.</span>
    </p>
  </article>
</div>
