// media queries

@mixin tablet {
  @media all and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: 1200px) {
    @content;
  }
}

@mixin text($fontSize, $lineHeight) {
  font-size: $fontSize;
  line-height: $lineHeight;
}

@mixin title {
  text-align: center;
  font-weight: 500;
  font-family: $secondaryFont;
  @include text(rem(24), 1.88);
  @content;
}

@mixin menuLink {
  text-decoration: none;
  text-transform: uppercase;
  padding: 2px 0px;
  @content;
}

@mixin photoBorder {
  border: rem(4) solid $photoBorderColor;
  border-radius: rem(4);
  align-self: center;
  animation: 4s photoAnimation infinite;
}
