$defaultFontSize: 16;

/* colors */
$brandColorDark: #099d8d;
$brandColorLight: #14d9c4;
$fontColorDark: #54585a;
$fontColorLight: #b8b8b9;
$brandBackgroundColor: #f1f1f1;

/* fonts */
$secondaryFont: "Rubik", sans-serif;

/* font-size: */
$fontSmall: rem(14);
$fontMainText: rem(16);
$fontTitle: rem(24);
$fontSubtitle: rem(22);
