.quienesSomos {
  margin: 45px auto;
  &__title {
    @include title {
      text-transform: uppercase;
      color: var(--brandColorDark);
      font-size: var(--fontTitle);
      margin-bottom: 41px;
      scroll-margin-top: 120px;
    }
    @media all and (min-width: 768px) {
      scroll-margin-top: 100px;
    }
  }
  &__adalaber {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: var(--mainFont);
    font-size: var(--fontMainText);
    @media all and (min-width: 768px) {
      flex-direction: row;
      align-items: flex-start;
      &--alignLeft {
        text-align: left;
      }
      &--alignRight {
        text-align: right;
        flex-direction: row-reverse;
      }
    }
  }
  .picWrapper {
    box-sizing: content-box;
    border: 4px solid #eaeaea;
    border-radius: 4px;
    background-size: contain;
    @media all and (min-width: 768px) {
      width: 25%;
      max-width: 278px;
    }
    &__pic {
      width: 100%;
      min-width: 180px;
      max-width: 278px;
      display: block;

      @media all and (min-width: 768px) {
        display: none;
      }
    }
    &__bigPic {
      display: none;
      @media all and (min-width: 768px) {
        display: block;
        width: 100%;
        max-width: 278px;
      }
    }
  }
  .adalaberData {
    flex-wrap: wrap;
    margin: 0 0 25px 20px;
    @media all and (min-width: 768px) {
      width: 75%;
      padding: 0 20px 35px;
    }
    &__name {
      font-family: var(--mainFont);
      font-size: 20px;
      font-weight: 300;
      color: black;
      margin: 15px;
      @media all and (min-width: 768px) {
        display: inline-block;
        margin: 0 0 15px 0;
      }
    }
    &__rrssAdalaber {
      display: inline;
      &--rrss {
        padding: 15px 5px 0 0;
        color: var(--brandColorDark);
      }
    }
  }
}
