.weAre {
  margin: rem(45) auto;
  &__title {
    @include title {
      text-transform: uppercase;
      color: $brandColorDark;
      font-size: $fontTitle;
      margin-bottom: rem(41);
      scroll-margin-top: rem(120);
    }
    @include tablet {
      scroll-margin-top: rem(100);
    }
  }
  &__adalaber {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: rem(190) 1fr;
    row-gap: rem(15);
    grid-template-areas: "pic" "data";
    align-items: start;
    text-align: center;
    @include text(16, 1.5);
    margin-bottom: rem(60);
    @include tablet {
      row-gap: 0;
      &--alignLeft {
        text-align: left;
        grid-template-columns: rem(286) 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "pic data";
        column-gap: rem(30);
      }
      &--alignRight {
        text-align: right;
        grid-template-columns: 1fr rem(286);
        grid-template-rows: 1fr;
        grid-template-areas: "data pic";
        column-gap: rem(30);
      }
    }
  }
  .picWrapper {
    grid-area: pic;
    box-sizing: content-box;
    background-size: contain;
  }

  .picWrapper__pic {
    min-width: rem(180);
    @include photoBorder;
    @include tablet {
      display: none;
    }
  }
  .picWrapper__bigPic {
    display: none;

    @include tablet {
      max-width: rem(278);
      display: block;
      @include photoBorder;
    }
  }
  @keyframes photoAnimation {
    from {
      border-color: $photoBorderColor;
    }
    50% {
      border-color: $brandColorLight;
    }
    to {
      border-color: $photoBorderColor;
    }
  }
  .adalaberData {
    grid-area: data;
    @include tablet {
    }
    &__name {
      font-family: $fontMainText;
      font-size: rem(20);
      font-weight: 300;
      color: black;
      margin-bottom: rem(15);
      @include tablet {
        display: inline-block;
        margin: 0 0 rem(15) 0;
      }
    }
    &__rrssAdalaber {
      display: inline;
      color: $brandColorDark;
      &--rrss {
        padding: rem(15) rem(5) 0 0;
        color: $brandColorDark;
      }
    }
  }
}
