.footer {
  width: 100%;
  text-align: center;
  position: relative;
  /* position only needed if I use .footer:before afterall */
  @include tablet {
    text-align: right;
    padding-top: rem(24);
    padding-bottom: rem(56);
  }
  @include desktop {
    padding-bottom: rem(47);
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(1);
    content: " ";
    background-color: $fontColorLight;
  }
  &__copyright {
    margin: rem(30) 0 rem(20);
    color: $fontColorLight;
    @include tablet {
      width: 50%;
      margin: 0;
      text-align: left;
      height: 50%;
    }
  }
  .menu {
    margin-bottom: rem(30);
    @include tablet {
      width: 50%;
      line-height: rem(30);
      order: 2;
    }
    &__link {
      @include menuLink;
      font-weight: 600;
      color: $fontColorDark;
      &:hover {
        color: $brandColorDark;
      }
    }
  }
  &__logo {
    width: rem(115.9);
    height: rem(45);
    margin-bottom: rem(45);
    @include tablet {
      margin-bottom: 0;
      height: 50%;
    }
    &--img {
      width: 100%;
      height: 100%;
    }
  }
  &__wrap {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    @include text(rem(14), 1.43);
    @include tablet {
      align-items: baseline;
      flex-wrap: wrap;
      height: rem(90);
    }
  }
}
