.contactContainer {
  margin: 0 rem(15);
  @include tablet {
    margin: 0 rem(163);
  }
  @include desktop {
    margin: 0 rem(299);
  }
  // check with large screen
  // @media all and (min-width: 1476px) {
  //   margin: 0 auto;
  //   max-width: rem(1200);
  // }
}

.contact__small {
  @include text(rem(12), 1.5);
  color: $fontColorDark;
  display: block;
  text-align: center;
}
.asterisk {
  color: $brandColorLight;
}
.world {
  text-transform: capitalize;
}
.welcome {
  display: block;
}

.form__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: rem(58);
}

.input__wrapper {
  width: 100%;
  justify-content: space-between;
}
.display {
  display: inline-flex;
}
.email {
  @include desktop {
    align-self: flex-start;
    width: 70%;
  }
}
.phone {
  @include desktop {
    align-self: flex-end;
    width: 25%;
  }
}

.signup {
  display: block;
  color: $fontColorDark;
  @include text(rem(16), 1);
  width: 100%;
  height: rem(45);
  margin: rem(7) 0 rem(13);
  padding: rem(7) rem(15);
  border: solid rem(1) $fontColorLight;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  // @include tablet {
  //   width: rem(442);
  // }
  &--textarea {
    height: rem(105);
  }
}
.required::after {
  content: " *";
  color: $brandColorLight;
}
.label {
  width: rem(131);
  height: rem(19);
  margin: rem(58) rem(159) rem(7) 0;
  /*font-family: OpenSans;*/
  @include text(rem(14), 1);
  // font-weight: normal;
  color: $fontColorDark;
}

.placeholder::placeholder {
  color: $fontColorLight;
  @include text(rem(14), 1);
}

.form_button {
  width: rem(290);
  height: rem(45);
  margin: rem(30) 0 rem(60) 0;
  /* padding: rem(11) rem(158) rem(12) rem(74); */
  border-radius: rem(4);
  border: none;
  background-color: $brandColorDark;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  /* font-family: Rubik; */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include tablet {
    align-self: flex-end;
    width: rem(206);
  }
  @include desktop {
    width: rem(278);
  }
}
