.contact__small {
  font-size: 12px;
  color: var(--fontColorDark);
  line-height: 24px;
  display: block;
  text-align: center;
}
.asterisk {
  color: var(--brandColorLight);
}
.world {
  text-transform: capitalize;
}
.welcome {
  display: block;
}

.form__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.625rem;
}
.signup {
  display: block;
  width: 290px;
  height: 45px;
  margin: 7px 0 13px;
  padding: 7px 57px 15px 15px;
  border: solid 1px var(--fontColorLight);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.required::after {
  content: "*";
  color: var(--brandColorLight);
}
.label {
  width: 131px;
  height: 19px;
  margin: 58px 159px 7px 0;
  /*font-family: OpenSans;*/
  font-size: 14px;
  font-weight: normal;
  color: var(--fontColorDark);
}

.form_button {
  width: 290px;
  height: 45px;
  margin: 30px 0 60px 0;
  /* padding: 11px 158px 12px 74px; */
  border-radius: 4px;
  border: none;
  background-color: var(--brandColorDark);
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  /* font-family: Rubik; */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
