.contactContainer {
  margin: 0 rem(15);
  @include tablet {
    margin: 0 auto;
    max-width: rem(442);
  }
  @include desktop {
    max-width: rem(601);
  }
}

.contact__small {
  @include text(rem(12), 1.5);
  color: $fontColorDark;
  display: block;
  text-align: center;
}
.asterisk {
  color: $brandColorLight;
}
.world {
  text-transform: capitalize;
}
.welcome {
  display: block;
}

.form__wrapper {
  width: 100%;
  justify-content: space-between;
  margin-top: rem(58);
}

.input__wrapper {
  width: 100%;
}

.email {
  @include desktop {
    width: rem(395);
    display: inline-block;
    margin-right: rem(39);
  }
}
.phone {
  @include desktop {
    width: rem(162);
    display: inline-block;
  }
}

.signup {
  display: block;
  color: $fontColorDark;
  @include text(rem(16), 1);
  width: 100%;
  height: rem(45);
  margin: rem(7) 0 rem(13);
  padding: rem(7) rem(15);
  border: solid rem(1) $fontColorLight;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &--textarea {
    height: rem(105);
  }
}
.required::after {
  content: " *";
  color: $brandColorLight;
}
.label {
  width: rem(131);
  height: rem(19);
  margin: rem(58) rem(159) rem(7) 0;
  @include text(rem(14), 1);
  color: $fontColorDark;
}

.placeholder::placeholder {
  color: $fontColorLight;
  @include text(rem(14), 1);
}

.form_button {
  width: 100%;
  height: rem(45);
  margin: rem(30) 0 rem(60) 0;
  border-radius: rem(4);
  border: none;
  background-color: $brandColorDark;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include tablet {
    display: inline-block;
    margin-left: rem(236);
    width: rem(206);
  }
  @include desktop {
    width: rem(278);
    margin-left: rem(323);
  }
}
