.header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  height: rem(105);
  background-image: linear-gradient(
    rgba(9, 157, 141, 0.95) rem(60),
    rgba(20, 217, 196, 0.9) rem(60)
  );
  @include tablet {
    height: rem(60);
    background-image: none;
    background-color: $brandColorDark;
    opacity: 0.95;
  }
  &__logo {
    height: rem(60);
    display: flex;
    justify-content: center;
    align-items: center;
    &--text {
      width: rem(160);
      font-family: $secondaryFont;
      @include text(rem(16), 1.88);
      font-weight: 500;
      color: white;
      text-align: center;
      @include tablet {
        text-align: start;
      }
    }
  }
  &__tablet {
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .menu {
    height: rem(45);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablet {
      height: rem(60);
      justify-content: right;
    }
    &__link {
      @include menuLink;
      font-family: $secondaryFont;
      color: white;
      @include text(rem(15), 2);
      font-weight: 500;
      @include tablet {
        padding-left: rem(18);
      }
      &:hover {
        color: $fontColorDark;
      }
    }
  }
}

.header__logo .menu__link:first-child {
  padding-left: 0;
}
