.header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  height: 105px;
  background-image: linear-gradient(
    rgba(9, 157, 141, 0.95) 60px,
    rgba(20, 217, 196, 0.9) 60px
  );
  @media all and (min-width: 768px) {
    height: 60px;
    background-image: none;
    background-color: #099d8d;
    opacity: 0.95;
  }
  &__logo {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    &--text {
      width: 160px;
      font-family: var(--secondaryFont);
      font-size: 16px;
      font-weight: 500;
      color: white;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.88;
      letter-spacing: normal;
      text-align: center;
      text-transform: uppercase;
      @media all and (min-width: 768px) {
        text-align: start;
      }
    }
  }
  &__tablet {
    @media all and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

/* HEADER-MENU*/

.menu {
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  @media all and (min-width: 768px) {
    height: 60px;
    display: inline-flex;
    justify-content: right;
  }
  &__link {
    font-family: var(--secondaryFont);
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
    line-height: 2;
    @media all and (min-width: 768px) {
      padding-left: 18px;
    }
    &:hover {
      color: var(--fontColorDark);
    }
  }
}
