.hero {
  width: 100%;
  /* min-width remove after reset? */
  min-width: rem(320);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -10;
  // @include tablet {
  //   margin-bottom: rem(45);
  // }
  &__index {
    height: rem(421);
    background-image: url(../images/heroIndexMobile.png);
    margin-bottom: rem(76);
    // transition: background-image 0.25s ease-in;
    @include tablet {
      margin-bottom: rem(45);
      background-image: url(../images/heroIndexTablet.png);
      // transition: background-image 0.25s ease-in, height 0.25s ease-in;
    }
    @include desktop {
      background-image: url(../images/heroIndexDesktop.png);
      height: rem(550);
    }
    .claim {
      color: black;
      background-color: #ffffff;
      width: calc(100% - rem(30));
      padding: rem(15);
      @include text(rem(18), 1.39);
      font-weight: 600;
      position: absolute;
      bottom: 0px;
      transform: translate(0, 56%);
      @include tablet {
        width: 55%;
        min-width: rem(485);
        background-color: rgba(255, 255, 255, 0.8);
        transform: translate(0, 0);
        padding: rem(15) rem(30);
      }
      @include desktop {
        @include text(rem(24), 1.25);
        max-width: rem(695);
      }
    }
  }
  &__contact {
    height: rem(300);
    background-image: url(../images/heroContactMobile.png);
    margin-bottom: rem(30);
    @include tablet {
      background-image: url(../images/heroContactTablet.png);
    }
    @include desktop {
      background-image: url(../images/heroContactDesktop.png);
      height: rem(400);
      margin-bottom: rem(45);
    }
    .claim {
      display: none;
    }
  }
}
