.hero {
  width: 100%;
  /* min-width remove after reset? */
  min-width: 320px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -10;
  // @include tablet {
  //   margin-bottom: 45px;
  // }
  &__index {
    height: 421px;
    background-image: url(../images/heroIndexMobile.png);
    margin-bottom: 76px;
    // transition: background-image 0.25s ease-in;
    @include tablet {
      margin-bottom: 45px;
      background-image: url(../images/heroIndexTablet.png);
      // transition: background-image 0.25s ease-in, height 0.25s ease-in;
    }
    @include desktop {
      background-image: url(../images/heroIndexDesktop.png);
      height: 550px;
    }
    .claim {
      color: black;
      background-color: #ffffff;
      width: calc(100% - 30px);
      padding: 15px;
      font-family: var(--mainFont);
      font-size: 17px;
      font-weight: 600;
      line-height: 1.39;
      position: absolute;
      bottom: 0px;
      transform: translate(0, 56%);
      @include tablet {
        width: 55%;
        min-width: 485px;
        background-color: rgba(255, 255, 255, 0.8);
        transform: translate(0, 0);
        padding: 15px 30px;
        font-size: 18px;
      }
      @include desktop {
        font-size: var(--fontTitle);
        line-height: 1.25;
        max-width: 695px;
      }
    }
  }
  &__contact {
    height: 300px;
    background-image: url(../images/message.jpg);
    margin-bottom: 30px;
    // @include tablet {
    //   background-image: url(../images/message.jpg);
    // }
    @include desktop {
      // background-image: url(../images/message.jpg);
      height: 400px;
      margin-bottom: 45px;
    }
  }
}
