.sContainer {
  width: 100%;
  background-color: $brandBackgroundColor;
  padding-bottom: rem(45);
  @include desktop {
    padding-bottom: rem(60);
  }
}
.strengthsWeak {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include tablet {
    flex-direction: row;
  }
  &__square {
    box-sizing: border-box;
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
    width: rem(30);
    height: rem(30);
    left: 50%;
    padding-top: 0;
    background-color: white;
  }

  &__strengths {
    text-align: center;
    @include tablet {
      width: 46%;
    }

    &--title {
      @include title {
        color: $brandColorDark;
        @include text(rem(22), 2.05);
        padding-top: rem(30);
      }

      @include tablet {
        padding: rem(45) 0 rem(15) 0;
      }
    }
    &--text {
      @include text(rem(16), 1.5);
      color: $fontColorDark;
    }
  }
}
