.sContainer {
  width: 100%;
  background-color: var(--brandBackgroundColor);
  padding-bottom: 45px;
  @include desktop {
    padding-bottom: 60px;
  }
}
.strengthsWeak {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include tablet {
    flex-direction: row;
  }
  &__square {
    box-sizing: border-box;
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 30px;
    height: 30px;
    left: 50%;
    padding-top: 0;
    background-color: white;
  }

  &__strengths {
    @include tablet {
      width: 46%;
    }

    &--title {
      @include title {
        color: var(--brandColorDark);
        font-size: var(--fontSubtitle);
        padding-top: 30px;
      }

      @include tablet {
        padding: 45px 0 15px 0;
      }
    }
    &--text {
      font-size: var(--fontMainText);
      color: var(--fontColorDark);
      text-align: center;
      line-height: 1.5;
    }
  }
}
