.sContainer {
  width: 100%;
  background-color: var(--brandBackgroundColor);
  padding-bottom: 45px;
  @media all and (min-width: 1200px) {
    padding-bottom: 60px;
  }
}
.strengthsWeak {
  position: relative;
  display: flex;
  flex-direction: column;
  @media all and (min-width: 768px) {
    flex-direction: row;
  }
  &__square {
    box-sizing: border-box;
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 30px;
    height: 30px;
    left: 50%;
    padding-top: 0;
    background-color: white;
  }

  &__strengths {
    @media all and (min-width: 768px) {
      width: 50%;
      &--one {
        padding-right: 17px;
      }
      &--two {
        padding-left: 17px;
      }
    }
    @media all and (min-width: 1200px) {
      &--one {
        padding-right: 27px;
      }
      &--two {
        padding-left: 27px;
      }
    }
    &--title {
      text-align: center;
      line-height: 45px;
      font-family: var(--secondaryFont);
      font-size: var(--fontSubtitle);
      color: var(--brandColorDark);
      padding-top: 30px;
      font-weight: 500;
      @media all and (min-width: 768px) {
        padding: 45px 0 15px 0;
      }
    }
    &--text {
      font-family: var(--mainFont);
      font-size: var(--fontMainText);
      color: var(--fontColorDark);
      text-align: center;
      line-height: 1.5;
    }
  }
}
