/* TEAM AND DESCRiPTION*/
.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.teamContainer {
  position: relative;
  justify-content: center;
  padding-bottom: rem(15);
  @include tablet {
    margin-bottom: rem(30);
  }
  @include desktop {
    padding: 0 rem(161) rem(45) rem(161);
    margin-bottom: 0;
  }
  &__team {
    @include title {
      text-transform: uppercase;
      color: $brandColorLight;
      scroll-margin-top: rem(120);
    }
    @include tablet {
      color: $brandColorDark;
      scroll-margin-top: rem(100);
    }
  }
  &__text {
    justify-content: center;
    width: 100%;
    @include text($fontMainText, 1.5);
    text-align: center;
    padding: rem(15) 0;
    @include tablet {
      opacity: 67%;
    }
    &--dev {
      display: block;
    }
  }
}
