/* TEAM AND DESCRiPTION*/
.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.teamContainer {
  box-sizing: border-box;
  display: flex;
  position: relative;
  background-color: white;
  justify-content: center;
  padding-bottom: 15px;
  @media all and (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media all and (min-width: 1200px) {
    padding: 0 161px 45px 161px;
    margin-bottom: 0;
  }
  &__team {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--brandColorLight);
    font-size: var(--fontTitle);
    font-family: var(--secondaryFont);
    line-height: 45px;
    @media all and (min-width: 768px) {
      color: var(--brandColorDark);
    }
  }
  &__text {
    justify-content: center;
    width: 100%;
    font-family: var(--mainFont);
    font-size: var(--fontMainText);
    letter-spacing: normal;
    text-align: center;
    padding: 15px 0;
    @media all and (min-width: 768px) {
      opacity: 67%;
    }
    &--dev {
      display: block;
    }
  }
}
